@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: Roboto, sans;
  --font-pacifico: Pacifico, sans;

  --color-muted: oklch(0.556 0 0);
}
